<!DOCTYPE html>
<html lang="en">
<head>
<title>Cold Electronics Test Summary</title>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js">
</script>


<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js">
</script>




</head>    

<body>

{% include 'summary-bar.html.j2' %}
