{% set reltoroot = '../../..' %}

{% include 'header.html.j2' %}
    

<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

<h1>ADC ASIC Test Summary for ADC# {{ serial }} sampled on {{ timestamp }}</h1>


<h2>Links</h2>
<ul>
  <li><a href="{{ reltoroot }}/adcid/{{ serial }}/">All results for ADC# {{ serial }}</a></li>
  <li><a href="http://localhost:8942/adc/{{ label }}/">Sumatra entry</a> (requires local Sumatra server or SSH tunnel)</li>
</ul>

<h2>Summary information</h2>

<table id="summary" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Passed</td><td>{{ passed }}</td></tr>
    <tr><td>ADC ASIC sn#</td><td><a href="{{ reltoroot }}/adcid/{{ serial }}">{{ serial }}</a></td></tr>
    <tr><td>Timestamp</td><td>{{ timestamp }}</td></tr>
    <tr><td>Test board</td><td><a href="{{ reltoroot }}/adcboard/{{ board_id }}">{{ board_id }}</a></td></tr>
    <tr><td>DAQ host</td><td>{{ hostname }}</td></tr>
    <tr><td>DAQ version</td><td>{{ version }}</td></tr>
    <tr><td>DAQ Config</td><td>{{ femb_config }}</td></tr>
  </tbody>
</table>

<h2>Summary Plots</h2>

{% for png,pdf in zip(pngs,pdfs) -%}
<center>
  <a href="{{ pdf }}">{{ pdf }}</a>

  <img src="{{ png }}">
</center>
{% endfor -%}


{% include 'footer.html.j2' %}
    
