{% set reltoroot = '..' %}

{% include 'header.html.j2' %}
    

<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

<h1>All FE ASIC Test Result Summaries</h1>


<table id="summary" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>FE IDs</th>
      <th>Timestamp</th>
      <th>Board</th>
      <th>Config</th>
    </tr>
  </thead>
  <tbody>
    {% for ident, one in index.items() %}
    <tr>
      <td>{% for feid in one.fe_ids -%}<a href="{{ reltoroot }}/feid/{{ feid }}">[{{ feid }}]</a> {% endfor -%}</td>
      <td><a href="board{{ one.fe_testboard_id }}/{{ one.timestamp }}">{{ one.timestamp }}</a></td>
      <td><a href="board{{ one.fe_testboard_id }}">{{ one.fe_testboard_id }}</a></td>
      <td>{{ one.femb_config }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% include 'footer.html.j2' %}
    
