{% include 'header.html.j2' %}
    
<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

{% set base = feasic.check_setup.params -%}

<h1>Summary of FE ASIC Test on board# {{ board_id }} on {{ timestamp }}</h1>

<!-- fixme: most of these should be made links to other things -->

<h2>Test results</h2>

<table id="summary" class="display" width="50%" cellspacing="0">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>gain</th>
      <th>shape</th>
      <th>base</th>
      <th>FE# {{ base.asic0id }}</th>
      <th>FE# {{ base.asic1id }}</th>
      <th>FE# {{ base.asic2id }}</th>
      <th>FE# {{ base.asic3id }}</th>
    </tr>
  </thead>
  <tbody>
{% for name, dat in feasic.items() -%}
{% set par = dat.params -%}
{% if dat.results and dat.results.results -%}
{%   set res = dat.results -%}
    <tr>
      <td><a href="{{ par.outlabel }}-summaryPlot.png">{{ par.outlabel }}</a></td>
      <td>{{ res.config_gain }}</td>
      <td>{{ res.config_shape }}</td>
      <td>{{ res.config_base }}</td>
      <td>{{ res.results[0].fail == "0" }}</td>
      <td>{{ res.results[1].fail == "0" }}</td>
      <td>{{ res.results[2].fail == "0" }}</td>
      <td>{{ res.results[3].fail == "0" }}</td>
    </tr>
{%   endif -%}
{% endfor -%}
  </tbody>
</table>


{% include 'footer.html.j2' %}
    
