{% set reltoroot = '../../..' %}

{% include 'header.html.j2' %}
    
<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

<h1>FE ASIC Test Summary using test board# {{ fe_testboard_id }} on {{ timestamp }}</h1>

<!-- fixme: most of these should be made links to other things -->
<ul>
  <li>FE ASICS ID#s in this test: {% for fe in fe_ids -%}<a href="{{ reltoroot }}/feid/{{ fe }}/">[{{ fe }}]</a> {%endfor-%}</li>
  <li><a href="http://localhost:8942/feasic/{{ label }}/">Sumatra entry</a> (requires local Sumatra server or SSH tunnel)</li>

</ul>

<h2>Test results</h2>

<table id="summary" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>gain</th>
      <th>shape</th>
      <th>base</th>
      <th>failed chans</th>
      <th>FE# {{ fe_ids[0] }}</th>
      <th>FE# {{ fe_ids[1] }}</th>
      <th>FE# {{ fe_ids[2] }}</th>
      <th>FE# {{ fe_ids[3] }}</th>
      <th>figures</th>
    </tr>
  </thead>
  <tbody>
    {% for name, res in results.items() -%}
    <tr>
      <td>{{ name }}</td>
      <td>{{ res.gain }}</td>
      <td>{{ res.shape }}</td>
      <td>{{ res.base }}</td>
      {% if res.chan_fail == undefined -%}
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      {% else -%}
      <td>{{ res.chan_fail }}</td>
      <td>{{ res.asic_passfail[0] }}</td>
      <td>{{ res.asic_passfail[1] }}</td>
      <td>{{ res.asic_passfail[2] }}</td>
      <td>{{ res.asic_passfail[3] }}</td>
      {% endif -%}
      <td>{% for png in res.pngs -%}<a href="{{ png }}">[PNG]</a>{% endfor -%}</td>
    </tr>
    {% endfor -%}
  </tbody>
</table>


{% include 'footer.html.j2' %}
    
