{% include 'header.html.j2' %}
    
<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

<h1>All results for FE ID {{ feid.ident }}</h1>

<table id="summary" class="display" width="50%" cellspacing="0">
  <thead>
    <tr>
      <th>Type</th>
      <th>Board ID</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for one in feid.feasic -%}
    <tr>
      <td>feasic</td>
      <td><a href="{{ reltoroot }}/feasic/board{{ one.board_id}}">{{ one.board_id }}</a></td>
      <td><a href="{{ reltoroot }}/feasic/{{ one.path }}">{{ one.timestamp }}</a></td>
    </tr>
    {% endfor -%}

    {% for one in feid.femb -%}
    <tr>
      <td>femb</td>
      <td><a href="{{ reltoroot }}/femb/{{ one.board_id}}">{{ one.board_id }}</a></td>
      <td><a href="{{ reltoroot }}/femb/{{ one.path }}">{{ one.timestamp }}</a></td>
    </tr>
    {% endfor -%}
  </tbody>
</table>

{% include 'footer.html.j2' %}
    
