{% set reltoroot = '../../..' %}

{% include 'header.html.j2' %}
    
<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

{% if serial == "bogus" -%}
<h1>Summary for bogus FEMB serial number </h1>
{% else -%}
<h1>Summary of FEMB Test on box:{{ box_ids }} fm:{{ fm_ids }} am:{{ am_ids }} at {{ timestamp }}</h1>
{% endif -%}

<!-- fixme: most of these should be made links to other things -->

<h2>ASICs</h2>

{% if serial == "bogus" -%}
Bogus FEMB serial number.
{% else -%}
<ul>
<li>ADC ASICS IDs: {% for adc in adc_ids -%}<a href="{{ reltoroot }}/adcid/{{ adc }}/">[{{ adc }}]</a> {%endfor-%}</li>
<li>FE ASICS IDs: {% for fe in fe_ids -%}<a href="{{ reltoroot }}/feid/{{ fe }}/">[{{ fe }}]</a> {%endfor-%}</li>
</ul>
{% endif -%}

<h2>Test results</h2>

{% if results.fembTest_summary -%}
<a href="{{ results.fembTest_summary.pdfs[0] }}">Summary sheet</a>
{% endif -%}



<table id="summary" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>gain</th>
      <th>shape</th>
      <th>base</th>
      <th>ASIC failure</th>
      <th>Chan failure</th>
      <th>figs</th>

    </tr>
  </thead>
  <tbody>
{% for resname, resdat in results.items() -%}
{% if resdat.gain -%}
    <tr>
      <td>{{ resname }} </td>
      <td>{{ resdat.gain }}</td>
      <td>{{ resdat.shape }}</td>
      <td>{{ resdat.base }}</td>
      <td>{{ resdat.asic_fail }}</td>
      <td>{{ resdat.chan_fail }}</td>
      <td>
	{% for png in resdat.pngs -%}<a href="{{ png }}">PNG</a> {% endfor -%}
	{% for pdf in resdat.pdfs -%}<a href="{{ pdf }}">PDF</a> {% endfor -%}
      </td>

    </tr>
{%   endif -%}
{% endfor -%}
  </tbody>
</table>


{% include 'footer.html.j2' %}
    
