{% include 'header.html.j2' %}
    
<script type="text/javascript" class="init">
  $(document).ready(function() {
  $('#summary').DataTable();
  } );
  </script>

{% set base = femb.fembTest_powercycle_test.params -%}

<h1>Summary of FEMB Test on box:{{ base.box_ids[0] }} fm:{{ base.fm_ids[0] }} am:{{ base.am_ids[0] }} at {{ base.session_start_time }}</h1>

<!-- fixme: most of these should be made links to other things -->

<h2>Summary</h2>

<ul>
<li>ADC ASICSs: {% for adc in base.adc_asics[0] -%}<a href="{{ reltoroot }}/adcid/{{ adc }}/">[{{ adc }}]</a> {%endfor-%}</li>
<li>FE ASICSs: {% for fe in base.fe_asics[0] -%}<a href="{{ reltoroot }}/feid/{{fe }}/">[{{ fe }}]</a> {%endfor-%}</li>
</ul>

{% if femb.fembTest_summary -%}
<a href="{{ femb.fembTest_summary.pdfs[0] }}">Summary sheet</a>
{% endif -%}

<h2>Test results</h2>

<table id="summary" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>gain</th>
      <th>shape</th>
      <th>base</th>
      <th>ASIC failure</th>
      <th>Chan failure</th>
      <th>figs</th>

    </tr>
  </thead>
  <tbody>
{% for name, dat in femb.items() -%}
{% set par = dat.params -%}
{% for res in dat.results -%}
{% if res.results_summary -%}
{%   set rs = res.results_summary -%}
    <tr>
      <td>{{ par.outlabel[22:] }}</td>
      <td>{{ par.gain }}</td>
      <td>{{ par.shape }}</td>
      <td>{{ par.base }}</td>
      <td>{{ rs.asic_fail }}</td>
      <td>{{ rs.chan_fail }}</td>
      <td>
	{% for png in dat.pngs -%}<a href="{{ png }}">PNG</a> {% endfor -%}
	{% for pdf in dat.pdfs -%}<a href="{{ pdf }}">PDF</a> {% endfor -%}
      </td>

    </tr>
{%   endif -%}
{% endfor -%}
{% endfor -%}
  </tbody>
</table>


{% include 'footer.html.j2' %}
    
