<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}">Top</a>
  </li>
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}/adcasic">ADC ASIC</a>
  </li>
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}/feasic">FE ASIC</a>
  </li>
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}/femb">FEMB</a>
  </li>
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}/adcid">By ADC ID</a>
  </li>
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}/feid">By FE ID</a>
  </li>
  <li class="nav-item">
    <a class"nav-link active" href="{{ reltoroot }}/adcboard">By ADC test board</a>
  </li>
</ul>
