{% set reltoroot = '.' %}
{% include 'header.html.j2' %}
    
<h1>BNL Cold Electronics Testing Result Summaries</h1>

Here you can find a sumary (of summaries) of the BNL cold electronics
testing results.  These pages should be incrementally refreshed on an
hourly basis as new testing data is acquired.

<h2>Summary Categories</h2>

The summaries are organized into different test categories which
define the general test station makeup.
These links are also available from the header of each page.

<ul>
  <li><a href="adcasic"><b>ADC ASIC</b></a> tests the ADC ASICs directly.</li>
  <li><a href="feasic"><b>FE ASIC</b></a> tests the FE ASICs directly.</li>
  <li><a href="femb"><b>FEMB</b></a> tests both FE and ADC asics together on an FEMB.</li>  
  <li><a href="osc"><b>Oscillator</b></a> pre-screening (only anonymous pass/fail statistics).</li>  
  <li><a href="flash"><b>Flash Memory</b></a> pre-screening (only anonymous pass/fail statistics).</li>  
</ul>

Some different views of these basic result summaries are collated:

<ul>
  <li><a href="adcid"><b>ADC ID</b></a> collects all tests for a particular ADC ASIC as indicated by its ADC ASIC ID number.  Includes links to all associated ADC ASIC and FEMB test result summaries.</li>

  <li><a href="feid"><b>FE ID</b></a> collects all tests for a particular FE ASIC as indicated by its FE ASIC ID number.  Includes links to all associated FE ASIC and FEMB test result summaries.</li>

</ul>


<h2>Testing Rate</h2>

The rate of each type of test performed is summarized on a per day basis:

<ul>
  <li><a href="adcasic/testing-rates.html"><b>ADC ASIC dailies</b></a>
  <li><a href="feasic/testing-rates.html"><b>FE ASIC dailies</b></a>
  <li><a href="femb/testing-rates.html"><b>FEMB dailies</b></a>
  <li><a href="osc/testing-rates.html"><b>Oscillator dailies</b></a>
</ul>

<h2>ADC ASIC Test Board Info</h2>

<ul>
  <li><a href="adcboard/usage.html"><b>ADC Board Cold Usage</b></a> plot broken down by board ID and version</li>

  <li><a href="adcboard"><b>ADC Board directory</b></a> collects all ADC ASIC  test result summaries performed on a ADC particular test board as indicated by its board ID and a revision number that counts socket replacements.</li>

</ul>    

<h2>Meta</h2>

These pages are produced by the <a href="https://github.com/brettviren/cetest-gensum/">cetest-gensum</a> package.

<p>

This page was generated on {{ date_generated }}.  

{% include 'footer.html.j2' %}
